body {
    display: flex;
    background-image: linear-gradient(red, orange);
    height: 100vh;
}

div {
    margin: auto;
    display: flex;
    justify-content: space-around;
    color: #fff;
    width: 100%;
}

h1 {
    display: none;
}

@media only screen and (max-width: 46.1875em) {
    h1:nth-child(1) {
        display: block;
    }
}


@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    h1:nth-child(2) {
        display: block;
    }
}

@media only screen and (min-width: 64em) {
    h1:nth-child(3) {
        display: block;
    }
}
